[submodule "word2vec"]
	path = word2vec
	url = https://github.com/devincornell/word2vec
[submodule "semanticanalysis"]
	path = semanticanalysis
	url = https://github.com/devincornell/semanticanalysis.git
